<h1>About</h1>
<p>
	lapseslider is an open source application to build and controll your own slider-motor for a camera rail. <br>
	Blueprints for the motor setup are located on the <a href="https://github.com/theSuess/lapseslider">Github Repo</a>
</p>
