<h1> Welcome </h1>
<form action="/start" method="POST" class="form-inline">
	<div class="form-group">
		<label for="time">Time (HH:MM:SS)</label>
		<input type="text" id="time" class="form-control" pattern="[0-9][0-9]:[0-5][0-9]:[0-5][0-9]" name="time">
		<label for="steps">Steps per minute</label>
		<input type="number"id="steps" name="steps" class="form-control">
		<input type="submit" class="btn btn-default">
	</div>
</form>
<script src="/js/home.js" defer></script>
