<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>lapseslider</title>
	<link rel="stylesheet" href="/css/grid.css">
	<link rel="stylesheet" href="/topcoat/css/topcoat-desktop-light.css">
</head>
<body>
	<div class="grid">
		<div class="grid__col grid__col--1-of-3"></div>
		<div class="grid__col grid__col--1-of-3"><h1>lapseslider</h1></div>
		<div class="grid__col grid__col--1-of-3"></div>
	</div>
	{{ yield }}
</body>
</html>
